html,
body {
    background-color: #7ecbc4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0 -1px rgba(1, 1, 1, 0.075);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 525px;
    min-width: 300px;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 288px;
    height: 504px;
    background-color: #ffffff;
    margin-left: calc(288px/2*-1);
    margin-top: calc(504px/2*-1);
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.25);
}

.avatar {
    position: absolute;
    left: 79px;
    top: 79px;
    width: 130px;
    height: 130px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 -1px rgba(1, 1, 1, 0.075);
}

.name {
    position: absolute;
    left: 0;
    top: 235px;
    width: 100%;
    height: auto;
    color: #111111;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}

.divider {
    position: absolute;
    left: 33%;
    width: 34%;
    height: 2px;
    background-color: #111111;
}

.divider-name {
    top: 288px;
}

.divider-site {
    bottom: 75px;
}

.link {
    color: #111111;
    font-size: 22px;
}

.link-art {
    position: absolute;
    left: 0;
    top: 310px;
    width: 100%;
    height: auto;
}

.ampersand {
    position: absolute;
    left: 0;
    top: 344px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
}

.link-code {
    position: absolute;
    left: 0;
    top: 372px;
    width: 100%;
    height: auto;
}

.link-site {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    height: auto;
    font-size: 15px;
}
