html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 135%;
    color: #346b50;
    color: rgba(52, 107, 80, 0.701961);
    text-align: center;
    overflow: hidden;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.avatar {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border-radius: 125px;
}

.name {
    color: #346B50;
    text-decoration: none;
    border: none !important;
}

.name:hover {
    color: #346B50;
    text-decoration: none;
    border-bottom: solid 3px #346B50;
}

a,
a:link,
a:visited {
    color: #346B50;
    text-decoration: none;
    border-bottom: solid 3px #346B50;
}

a:hover,
a:link:hover {
    color: #346b50;
    color: rgba(52, 107, 80, 0.701961);
    text-decoration: none;
    border-bottom: solid 3px #346b50;
    border-bottom: solid 3px rgba(52, 107, 80, 0.701961);
}
